<?xml version="1.0" encoding="ISO-8859-1"?>

<!-- publicweb.xml and userweb.xml should be
     identical except for the security piece.
  -->

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <!-- JMS DataSources (java:comp/env/jms) -->
    <resource-ref>
        <res-ref-name>jms/BedeworkConnectionFactory</res-ref-name>
        <res-type>javax.jms.ConnectionFactory</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    
    <resource-ref>
        <res-ref-name>activemq/TopicConnectionFactory</res-ref-name>
        <res-type>javax.jms.Topic</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    
    <resource-ref>
        <res-ref-name>activemq/QueueConnectionFactory</res-ref-name>
        <res-type>javax.jms.Queue</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
